# Generated with the help of the .ignore plugin (plugins.jetbrains.com/plugin/7495--ignore)
### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

### Maven template
target/
/**/dependency-reduced-pom.xml

### JetBrains template
# User-specific stuff
.idea/
*.iml
*.ipr

# Project Secrets
config/secrets.properties
